@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  display: flex;
  flex-flow: column;
  width: 700px;
}

.label-container {
  height: 30px;
  background-color: rgb(66, 105, 201);
}

.content-container {
  height: 0px;
  background-color: blue;
}

.open-container {
  height: 70px;
  background-color: blue;
}
